Repository hmcts/fis-ds-update-web, pull requests merged in 2023-03, with the labels that each got.

#81 Update yarn.lock
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fis, prd:fis, rel:fis-ds-update-web-pr-81

#87 Update .terraform-version
  infrastructure/.terraform-version
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:fis, prd:fis, no-changes, rel:fis-ds-update-web-pr-87

#88 Update README.md
  README.md
Labels: ns:fis, prd:fis, rel:fis-ds-update-web-pr-88

#75 feature/ISDB 599-cleaning code and adding test cases
  config/default.yaml
  config/development.yaml
  jest.config.js
  sonar-project.properties
  src/main/app/case/definition.ts
  src/main/app/controller/AppRequest.ts
  src/main/app/controller/GetController.test.ts
  src/main/app/controller/GetController.ts
  src/main/app/form/validation.test.ts
  src/main/app/form/validation.ts
  src/main/app/s2s/rpeAuth.test.ts
  src/main/app/s2s/rpeAuth.ts
  src/main/assets/js/UploadFiles.ts
  src/main/assets/js/cookie.ts
  src/main/assets/js/index.ts
  src/main/assets/js/index_old.ts
  src/main/assets/js/session-timeout.ts
  src/main/development.ts
  src/main/modules/webpack/index.ts
  src/main/routes/caseref-finder.ts
  src/main/steps/common/common.content.ts
  src/main/steps/common/webpack/js-template.njk
  src/main/steps/common/webpack/js.njk
  src/main/steps/cookie-banner/template.njk
  src/main/steps/cookies/get.test.ts
  src/main/steps/edgeCase/check-your-answers/form.njk
  src/main/steps/edgeCase/check-your-answers/postController.ts
  src/main/steps/edgeCase/check-your-answers/template.njk
  src/main/steps/edgeCase/citizen-data-verification/getController.test.ts
  src/main/steps/edgeCase/citizen-data-verification/getController.ts
  src/main/steps/edgeCase/citizen-data-verification/postController.test.ts
  src/main/steps/edgeCase/citizen-data-verification/postController.ts
  src/main/steps/edgeCase/edgeCaseSequence.ts
  src/main/steps/edgeCase/edgecase-sequence.test.ts
  src/main/steps/edgeCase/edgecase-sequence.ts
  src/main/steps/edgecase/casefinder/postController.ts
  src/main/steps/edgecase/citizen-data-verification/content.test.ts
  src/main/steps/edgecase/citizen-data-verification/content.ts
  src/main/steps/edgecase/citizen-data-verification/index.d.ts
  src/main/steps/home/get.ts
  src/main/steps/index.test.ts
  src/main/steps/index.ts
  src/main/steps/upload-documents/content.test.ts
  src/main/steps/upload-documents/postController.test.ts
  src/main/steps/upload-documents/postController.ts
  src/main/steps/upload-documents/template.njk
  src/main/steps/urls.ts
  src/main/steps/webpack/js-template.njk
  src/main/steps/webpack/js.njk
  src/main/views/webpack/js-template.njk
  src/main/views/webpack/js.njk
  tsconfig.json
  webpack.config.js
  webpack/htmlWebpack.js
Labels: ns:fis, prd:fis, rel:fis-ds-update-web-pr-75

#90 Update values.yaml
  charts/fis-ds-update-web/Chart.yaml
  charts/fis-ds-update-web/values.yaml
Labels: ns:fis, prd:fis, rel:fis-ds-update-web-pr-90

#99 enabled redis storage for all environments
  charts/fis-ds-update-web/Chart.yaml
  charts/fis-ds-update-web/values.preview.template.yaml
  charts/fis-ds-update-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/development.yaml
  src/main/modules/appinsights/index.ts
  src/main/modules/properties-volume/index.ts
  src/main/modules/session/index.ts
  src/main/server.ts
  src/main/settings/redis/redis.ts
Labels: ns:fis, prd:fis, rel:fis-ds-update-web-pr-99

#100 Remove reference to cookie and custom.css file
  src/main/steps/common/webpack/css-template.njk
  src/main/steps/common/webpack/css.njk
  src/main/steps/common/webpack/js-template.njk
  src/main/steps/common/webpack/js.njk
Labels: ns:fis, prd:fis, rel:fis-ds-update-web-pr-100
